img{
    width: 100%;
    border-radius: 20px;
}
.jj h1{
    color: hsl(245, 75%, 52%);
    text-align: center;
    
}
.jj p{
    color: hsl(224, 17%, 66%);
}
.hh{
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    padding-bottom: 15px;
}
.hh h1{
    color: hsl(245, 75%, 52%);
    margin-left: 15px;
}
.hh p{
    color: hsl(224, 17%, 66%);
    margin-left: 15px;
}
.nm {
    color: white;
    background-color:hsl(245, 75%, 52%); 
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}